# Django Settings
SECRET_KEY=django-insecure-face-attendance-mvp-secret-key-2026
DEBUG=True
ALLOWED_HOSTS=*

# Firebase Configuration
# Path to serviceAccountKey.json if downloaded from Firebase Console -> Project Settings -> Service accounts
FIREBASE_CREDENTIALS_PATH=
FIREBASE_PROJECT_ID=face-recognition-attenda-230d3
