# Environment & Secrets (NEVER push to GitHub)
.env
*.env
face-recognition-attenda-230d3-firebase-adminsdk-fbsvc-255c00d255.json
*firebase-adminsdk*.json
firebase-credentials.json
*.json
!requirements.txt

# Database
*.sqlite3
db.sqlite3

# Python cache & build
__pycache__/
*.py[cod]
*$py.class
*.so
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
env/
venv/
ENV/

# Media and static
media/
staticfiles/
